* {
    margin:0;
    font-family:"Source Code Pro",Consolas,Monaco,Menlo,Consolas,monospace;
}
body {
  background-image: url('../images/empty.png');
  background-repeat: repeat-x;
  background-position: fixed;
  min-width:900px;
}

.gutter {
    background-color: #4e4e4e;
    color:#b2b2b2;
    margin-right: 0.5em;
    padding-left: 0.5em;

}

.code {
    width:800px;
}

footer {
    position: fixed;
    bottom:0;
    width:100%;
    
}

#mode-line {
    background-color: #87D7AF;
    color:#005f5f;
    white-space: nowrap;
}

.gutter, .code {
    float:left;
}
